# === ШАБЛОН КОНФИГУРАЦИИ ===
# Скопируйте этот файл в .env и заполните актуальными значениями

# --- Database Configuration ---
DB_NAME=name
DB_USER=user
DB_PASSWORD=password
DB_HOST=host
DB_PORT=port

# --- API Keys ---
GEOCODE_API_KEY= API key - https://geocode.maps.co/

# --- Spring Profile ---
SPRING_PROFILES_ACTIVE=default

# --- JWT SECRET ---
JWT_SECRET=JWT_SECRET_JWT_SECRET_JWT_SECRET_JWT_SECRET_JWT_SECRET_JWT_SECRET
JWT_EXPIRATION=JWT_EXPIRATION